{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if all_contacts %}
                {% for record in all_contacts %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ record.first_name }}</h5>
                                <p class="card-text">
                                    {{ record.family_name }}<br>
                                    {{ record.address }}<br>
                                    {{ record.email }}<br>
                                    {{ record.company }}<br>
                                    {{ record.phone_number }}<br>
                                </p>
                                <a href="{% url 'edit_contact' record.id %}" class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}